# Many To Many Relations

## Student

| id(PK) | name      |
| ------ | --------- |
| INT    | CharField |

## Enroll

| id(PK) | student_id(FK - Student) | lecture_id(FK - Lecture) |
| ------ | ------------------------ | ------------------------ |
| INT    | INT                      | INT                      |

## Lecture

| id(PK) | title     |
| ------ | --------- |
| INT    | CharField |

In [17]:
# Student.objects.create(name='김학생')
# Student.objects.create(name='이학생')
# Student.objects.create(name='박학생')
# Student.objects.create(name='최학생')

In [18]:
Student.objects.all()

In [101]:
# Lecture.objects.create(title='역사')
# Lecture.objects.create(title='컴퓨터')
# Lecture.objects.create(title='중세교회와세속문화')
# Lecture.objects.create(title='서양고대사')

In [20]:
Lecture.objects.all()

In [105]:
# Enroll.objects.create(student_id=5, lecture_id=1)
# Enroll.objects.create(student_id=5, lecture_id=2)
# Enroll.objects.create(student_id=6, lecture_id=1)
# Enroll.objects.create(student_id=5, lecture_id=3)
# Enroll.objects.create(student_id=5, lecture_id=4)

In [73]:
Enroll.objects.all().count()

3

In [77]:
Enroll.objects.filter(student_id=5)

AttributeError: 'QuerySet' object has no attribute 'lecture'

In [72]:
Enroll.objects.filter(student=Enroll.objects.all()[0].student.id)

In [78]:
김학생 = Student.objects.get(name='김학생')
김학생.enroll_set.all()

In [81]:
김학생.enroll_set.all()[0].lecture.title

'역사'

In [89]:
student = Student.objects.get(name='김학생')
수강1 = student.enroll_set.first()
수강2 = student.enroll_set.last()
수강1

In [100]:
student = Student.objects.get(name='김학생')

for i in range(student.enroll_set.all().count()):
    print(Enroll.objects.filter(student = student)[i].lecture.title)

역사
컴퓨터

In [106]:
for i in student.enroll_set.all():
    key = i.lecture.title
    if len(key) >=5:
        print(key)

중세교회와세속문화
서양고대사

In [11]:
Hotel.objects.all().values('id', 'name')

<QuerySet [{'id': 1, 'name': 'Moore, Ferguson and Bauer'}, {'id': 2, 'name': 'Knight-Hudson'}, {'id': 3, 'name': 'Johnson-Moon'}, {'id': 4, 'name': 'Higgins-Hamilton'}, {'id': 5, 'name': 'Calhoun Inc'}, {'id': 6, 'name': 'Kim PLC'}, {'id': 7, 'name': 'Beck, Roberts and Castro'}, {'id': 8, 'name': 'Robinson-Chambers'}, {'id': 9, 'name': 'Proctor-Jones'}, {'id': 10, 'name': 'Marsh-Palmer'}, {'id': 11, 'name': 'Smith LLC'}]>

In [19]:
Client.objects.all()

<QuerySet [<Client: 1: Elizabeth Alexander>, <Client: 2: William Robinson>, <Client: 3: Carla Wang>, <Client: 4: Ariana Barton>, <Client: 5: Lance Freeman>, <Client: 6: David Collier>, <Client: 7: Dawn Phillips>, <Client: 8: Jason Brown>, <Client: 9: Julie Hall>, <Client: 10: Peter Brown>, <Client: 11: Sylvia Clements>]>

In [17]:
new_hotel=Hotel.objects.last()
new_hotel.clients.add(
    Client.objects.get(id=3),
    Client.objects.get(id=5),
    Client.objects.get(id=7)
)

In [29]:
new_hotel.clients.all().filter(name__contains='h')

In [31]:
client = Client.objects.get(id=3)
client.hotel_set.add(Hotel.objects.get(id=2), Hotel.objects.get(id=4))

In [33]:
client.hotel_set.all().values('name')